body {
	background: color #886A08;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}
header {
	background: url(http://nikolaev24.com.ua/Media/images/news-slider/big/8e64060216269f9d744cb2276639f1f5.jpg) no-repeat center top / cover; 
	height: 100px;
}
.container {
	width: 950px;
	border: 1px solid blue;
	margin: 0 auto;
}
section {

}
h1 {
	font-size: 40px;
	color: black;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	font-size: 25px;
	color: black;
	text-align: center;
}
h3 {
	font-size: 15px;
	color: black;
	text-align: center;
}
/*img {
	 float: left;
	 padding: 10px;
	
}
 */